*.o
*.lo
*~

# GNU Autoconf and Automake
INSTALL
depcomp
ltmain.sh
libtool
Makefile
Makefile.in
*.scan
aclocal.m4
autom4te.cache
config.h
config.h.in*
config.guess
config.sub
config.log
install-sh
autoscan.log
config.status
/config/*
configure
missing
.deps
.dirstamp
stamp-h1
*.tar.gz

# executables
Bin/MorphGen
Bin/RegressionTest
Source/MorphGen/MorphGen
Source/RegressionTest/RegressionTest
examples/c/firstform
examples/cpp/lemmatize

Dicts/Morph/*/



# Compiled Static libraries
*.lai
*.la
*.a
*.orst
*.orsh
*.d

# Compiled Dynamic libraries
*.so
*.dylib

# vim
*.swp
*.bak

# build from .in-files
Source/common/common_exe_mak
Source/common/common_lib_mak
pkgconfig/lemmatizer-rsh.pc
pkgconfig/lemmatizer-rst.pc
pkgconfig/lemmatizer-dsh.pc
pkgconfig/lemmatizer-dst.pc
pkgconfig/lemmatizer.pc
perllib/Lemmatizer/Makefile.PL
