# lemmatizer pkg-config file (%CT% mode)

lemroot=@RMLROOT@
srcroot=${lemroot}/Source

Name: Lemmatizer
Description: Morphology operator by AOT
URL: http://www.aot.ru
Version: 0.9
Requires:
Conflicts:
Cflags: -I${lemroot} -I${srcroot} -I${srcroot}/Interfaces/cpp -I${srcroot}/Interfaces/c
Libs: -L${lemroot}/Bin -lclemmatiser%CT% -lSimpleLemmatiser%CT% -lAgramtab%CT% -lLemmatizer%CT% -lGraphan%CT% -lMorphWizard%CT% -lStructDict%CT%

